@font-face {
  font-family: 'iconsfont';
  src:  url('../fonts/iconsfont.eot?8qjyh9');
  src:  url('../fonts/iconsfont.eot?8qjyh9#iefix') format('embedded-opentype'),
    url('../fonts/iconsfont.ttf?8qjyh9') format('truetype'),
    url('../fonts/iconsfont.woff?8qjyh9') format('woff'),
    url('../fonts/iconsfont.svg?8qjyh9#iconsfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty-star:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e91c";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-map-marker:before {
  content: "\e906";
}
.icon-location-arrow:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-ellipsis-h:before {
  content: "\e909";
}
.icon-bed-fat:before {
  content: "\e90a";
}
.icon-suitcase:before {
  content: "\e90b";
}
.icon-route:before {
  content: "\e90c";
}
.icon-swimming-pool:before {
  content: "\e90d";
}
.icon-umbrella-beach:before {
  content: "\e90e";
}
.icon-utensils:before {
  content: "\e90f";
}
.icon-wifi-slash:before {
  content: "\e910";
}
.icon-wifi:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-telegram:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-comments:before {
  content: "\e916";
}
.icon-key:before {
  content: "\e917";
}
.icon-pencil:before {
  content: "\e918";
}
.icon-bed:before {
  content: "\e919";
}
.icon-home:before {
  content: "\e91a";
}
