#smaller-container {
    max-width: 1136px;
    width: 100%;
}
#section-main-nav a {
    width: 150px;
    border-radius: 12px;
    font-size: 18px;
    padding: 10px 16px 12px;
}
#section-main-nav a:hover {
    background-color: black;
}
#section-main-nav a:hover > span {
    color: white;
}
#section-search {
    background-image: url(../img/airport.png);
    height: 348px;
}
#form-search{
    max-width: 700px;
    width: 100%;
}
#form-search input {
    padding-left: 44px;
    height: 60px;
    font-size: 22px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 5% 40%;
    background-position-y: center;
    background-position-x: 10px;
}
